/* Custom Styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

/* Hero Section */
.hero {
  background-image: url('img/background.JPG');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  position: relative;
}

.hero-content {
  z-index: 1;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Dark overlay for better text visibility */
  z-index: 0;
}

/* Headshot Image Styling */
.headshot {
  z-index: 1;
  max-width: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  object-fit: cover;
  height: 300px;
}

/* Hero Text Styling */
h1, .tagline {
  z-index: 1;
  margin: 0;
}


.contact-icon {
  color: #444;
  text-decoration: none;
  transition: all 0.3s ease;
}

.contact-icon:hover {
  color: #007bff;
}

#about-section, #mission-section {
  background-color: #2c3e50;
}

#contact-section {
  background-color: #6ccccc;
}

.text-white {
  color: white;
}

/* About Me Image Styling */
#about-section img {
  max-width: 200px;         /* Set a maximum width for the image */
  height: auto;             /* Maintain aspect ratio */
  border-radius: 50%;       /* Make the image circular */
  margin-top: 20px;         /* Add top margin */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Add a subtle shadow around the image */
  object-fit: cover;        /* Ensure the image covers the container proportionally */
}

/* Mission Section Image Styling */
#mission-section img {
  max-width: 200px;            /* Set a maximum width for the image */
  height: 100px;               /* Set a fixed height for the image */
  border-radius: 10px;         /* Add rounded corners to the image */
  margin-right: 50px;          /* Add right margin */
  margin-left: 30px;           /* Add left margin */
  display: block;              /* Ensure the image is displayed as a block element */
  width: 200px;                /* Set a fixed width */
  padding: 0;                  /* Remove any padding */
}

