/* You can add custom CSS and extend Boostrap styles in this file. Remember, Bootstrap is just CSS at the end of the day! */
.hero {
    background-image: url('img/background.JPG');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    position: relative;
  }
  
  .hero-content {
    z-index: 1;
  }
  
  .hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* This adds a dark overlay for better text visibility */
    z-index: 0;
  }
  
  .headshot {
    z-index: 1;
    max-width: 200px;   
    position: relative;  
    overflow: hidden; 
    border-radius: 50%; 
    object-fit: cover;
    height:300px;
  }
  
  
  h1, .tagline {
    z-index: 1;
    margin: 0;
  }
  
  .navbar {
    background-color: #f0f2f4;
    height: 80px;
    margin: 20px;
    border-radius: 16px;
    padding: 0.5rem;
  }
  
  .navbar-brand {
    color: #050505; 
    font-weight: bold;
  }
  
  .navbar-brand:hover {
    color: #e00b0b; /* Change this to your desired color */
  }
  
  .nav-link {
    color: #141414; /* Change this to your desired color */
  }
  
  .nav-link:hover {
    color: #e00b0b; /* Change this to your desired color */
  }
  
  .nav-link.active {
    font-weight: bold;
    color: #00aced; /* Change this to your desired color */
  }
  
  .offcanvas-header {
    background-color: #121212; /* Change this to your desired color */
  }
  
  .offcanvas-title {
    color: #d0d0d0; /* Change this to your desired color */
  }
  
  .btn-close {
    filter: invert(1);
  }
  
  /*.container{
    background-color: #fcfcfc;
    font-weight: white;
  }
  */
  #mission-section {
    background-color: #2c3e50; 
  }
  
  #mission-section h2 {
    color: #0b0a0a; 
  }
  
  #mission-section p {
    color: #0f0f0f; 
  }
  
  #mission-section img {
    max-width: 100%;
    height: auto;
    border-radius: 0px;
    margin-right:0;
    margin-left: 30px;
    margin-right: 50px;
    display:block;
    width: 200px;
   
  }
  #skills-section {
    background-color: #6ccccc; 
  }
  
  #skills-section h2 {
    color: #2c3e50; 
  }
  
  #skills-section p {
    color: #2c3e50; 
  }
  
  #skills-section img {
    width: 30%;
    height: auto;
  }
  #contact-section {
    background-color: #6ccccc; 
  }
  
  #contact-section h2 {
    color: #2c3e50; 
  }
  
  .contact-icon i {
    color: #2c3e50; 
    transition: color 0.3s;
  }
  
  .contact-icon i:hover {
    color: #ff5733; 
  }
  